<div class=container-fluid>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><center>Your Customized Nutrition Plan and Biometrics</center></h2>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h4>Name</h4>
    </div>
    <div class="col-md-1">
      <h4>Meal</h4>
    </div>
    <div class="col-md-1">
      <h4>Protein</h4>
    </div>
    <div class="col-md-1">
      <h4>Fat</h4>
    </div>
    <div class="col-md-2">
      <h4>Carbohydrates</h4>
    </div>
    <div class="col-md-1">
      <h4>Calories</h4>
    </div>
  </div>
</div>


<div class=container-fluid>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= link_to recipe[:name], recipe_path(recipe) %></h5>
        <% end %>
    </div>
    <div class="col-md-1">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= recipe[:category] %></h5>
        <% end %>
    </div>
    <div class="col-md-1">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= recipe[:protein] %></h5>
        <% end %>
    </div>
    <div class="col-md-1">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= recipe[:fat] %></h5>
        <% end %>
    </div>
    <div class="col-md-2 ">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= recipe[:carbohydrate] %></h5>
        <% end %>
    </div>
    <div class="col-md-1">
      <% @chosen_recipe.each do |recipe| %>
        <h5><%= recipe[:calories] %></h5>
        <% end %>
    </div>
  </div>
</div>
