<div class=container-fluid id="header">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="header_text">
      <h2><center>Your Customized Nutrition Plan</center></h2><br>
      <center><p>Based on the diet that you selected, we have provided an example of meals for one day. <br><em>Portion sizes may vary depending on body type and exercise.</em></p></center>
    </div>
  </div>
</div>
<br><br>

<div class="recipes-wrap">
  <div class="container">
    <div class="row">
      <div class="recipes-header">
        <center><h4>Daily Meals (Sample)</h4></center>
      </div>
      <% @chosen_recipe.each do |recipe| %>
        <%= link_to recipe_path(recipe), class: 'recipe-wrapper' do %>
          <%= image_tag "http://placehold.it/250x250", class: 'recipe-img' %>
          <div class="recipe-meta">
            <h5><%= recipe[:name] %></h5>
            <span class="meal-cat"><b>Category:</b> <%= recipe[:category] %></span>
            <span><b>Calories:</b> <%= recipe[:calories] %></span>
            <span><b>Protein:</b> <%= recipe[:protein] %></span>
            <span><b>Fat:</b> <%= recipe[:fat] %></span>
            <span><b>Carbohydrate:</b> <%= recipe[:carbohydrate] %></span>
          </div>
        <% end %>
      <% end %>
      <div class=container-fluid>
        <div class="row">
          <div class="col-md-4 col-md-offset-1 pull-right">
            <h4><%= link_to "View More Recipes >>", viewall_path %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="suggested-foods row">
      <div class="col-md-5 col-md-offset-1">
        <center><h4>Suggested Foods</h4></center>
      </div>
      <div class="col-md-4">
        <center><h4>Food to Stay Away From</h4></center>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <% @suggested_foods.each do |food| %>
        <center><%= food.name %></center>
        <% end %>
      </div>
      <div class="col-md-4">
        <% @not_suggested_foods.each do |food| %>
        <center><%= food.name %></center>
        <% end %>
      </div>
    </div>
  </div>

</div>
