<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password_digest %>
    <%= f.text_field :password_digest %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :current_weight %>
    <%= f.number_field :current_weight %>
  </div>

  <div class="field">
    <%= f.label :goal_weight %>
    <%= f.number_field :goal_weight %>
  </div>

  <div class="field">
    <%= f.label :waist_size %>
    <%= f.number_field :waist_size %>
  </div>

  <div class="field">
    <%= f.label :activity %>
    <%= f.text_field :activity %>
  </div>

  <div class="field">
    <%= f.label :body_type %>
    <%= f.text_field :body_type %>
  </div>

  <div class="field">
    <%= f.label :goal %>
    <%= f.text_field :goal %>
  </div>

  <div class="field">
    <%= f.label :diet %>
    <%= f.text_field :diet %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
