<table>
  <tr>
    <th>Gender</th>
    <th>Age</th>
    <th>Height</th>
    <th>Current Weight</th>
    <th>Goal Weight</th>
    <th>Waist Size</th>
    <th>Activity</th>
    <th>Body Type</th>
    <th>Goal</th>
    <th>Diet</th>
    <th colspan="2"></th>
  </tr>

  <!-- <%# @biometric.each do |biometric| %> -->
    <tr>
      <td><%= @biometric.biometric.gender %></td>
      <td><%= @biometric.biometric.age %></td>
      <td><%= @biometric.biometric.height %></td>
      <td><%= @biometric.biometric.current_weight %></td>
      <td><%= @biometric.biometric.goal_weight %></td>
      <td><%= @biometric.biometric.waist_size %></td>
      <td><%= @biometric.biometric.activity %></td>
      <td><%= @biometric.biometric.body_type %></td>
      <td><%= @biometric.biometric.goal %></td>
      <td><%= @biometric.biometric.diet %></td>
    </tr>
    <td><%= link_to 'Edit', edit_biometric_path(@biometric.biometric) %></td>
  <%# end %>
</table>
