<div class=container-fluid id="profile_header">
  <div class="row">
    <div class="col-md-4 col-md-offset-4" id="header_text">
      <h1><center>Your Profile</center></h1>
    </div>
  </div>
</div>
<br>
<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4><center>Gender</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Age</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Height</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Current Weight</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Goal Weight</center></h4><br>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h5><center><%= @biometric.biometric.gender %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.age %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.height %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.current_weight %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.goal_weight %></center></h5><br>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4><center>Waist Size</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Activity</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Body Type</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Goal</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Diet</center></h4><br>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h5><center><%= @biometric.biometric.waist_size %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.get_activity %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.get_body_type %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.get_goal %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.get_diet %></center></h5><br>
    </div>

    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.diet_calculator %></center></h5><br>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h4><center>Neck Size</center></h4><br>
    </div>
    <div class="col-md-2">
      <h4><center>Hip Size</center></h4><br>
    </div>
  </div>
</div>
<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <h5><center><%= @biometric.biometric.neck %></center></h5><br>
    </div>
    <div class="col-md-2">
      <h5><center><%= @biometric.biometric.hip %></center></h5><br>
    </div>
  </div>
</div>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-2 col-md-offset-4">
      <h5><center><%= link_to 'Edit Your Profile', edit_biometric_path(@biometric.biometric), class:"btn btn-default new_button" %></center></h5>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <h5><center><%= link_to 'View Your Nutrition Plan', recipes_path, class:"btn btn-default new_button" %></center></h5>
    </div>
  </div>
</div>
