<!DOCTYPE html>
<html>
  <head>
    <title>Nutriprep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse" id="nav">
      <div class="container">
        <% if current_user %>
          <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Login', '/login' %>  <%= link_to 'Signup', '/signup' %>
        <% end %>
        <%= link_to "Home", welcome_index_path %>
        <%= link_to "Profile", biometrics_path %>
        <%= link_to "Nutrition Plan", biometrics_path %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
